.Language-list-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.Navbar-list.column .Language-list-container {
    margin-top: 15px;
}

.Navbar-list.column label, .Navbar-list.column select {
    margin: 4px 0px;
}

select[id="languages"] {
    background-color: #161616;
}
