.Navbar-list li {
  all: unset;
}

.Navbar-list.row {
  height: 100%;
}

.Navbar-list.column {
  width: 100%;
}

.Navbar-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar-list.row li {
  height: 100%;
}

.Navbar-list.column li {
  width: 100%;
}

.Navbar-list li:hover {
  background-color: #2a2a2a;
}
  
.Navbar-list li a {
  all: unset;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Navbar-list {
  color: white;
  user-select: none;
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Navbar-button {
  margin: 0px 15px;
  font-size: 18px;
}

.Navbar-list.column .Navbar-button {
  margin: 10px 0px;
}

  @media screen and (min-width: 761px) {
    .Navbar-list.row {
      display: flex;
    }
  }

  @media screen and (max-width: 760px) {
    .Navbar-list.row {
      display: none;
    }
  }
  