.About-container {
  padding: 10px 0;
/*   background-color: aqua; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.react-icon-link {
  width: 50px;
  height: 50px;
}

.description {
  width: 1200px;
  max-width: 80%;
}

.description-title {
  text-align: center;
}

.description p, .my-social-media p, .resume p {
  font-size: 20px;
  /* margin-top: 10px; */
  text-align: center;
}
/* .description-title {
  font-size: 30px;
} */

.my-social-media {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.links-social a {
  margin: 0 15px;
}

a:visited {
  all: unset;
}

.description p, .description-title, .resume p, .my-social-media p, .links-social {
  margin: 15px 0;
  line-height: 120%;
}

.resume p {
  margin: 0;
}

#icon-github, #icon-linkedin/* , #icon-medium */ {
  background-color: white;
}

#icon-github {
  border-radius: 50%;
}

#icon-linkedin {
  border-radius: 8%;
}

/* #icon-medium {
  border-radius: 20px;
} */
